.searchEntry {
    @include flexColumn;
    padding-top: 40px;

    @media only screen and (min-width: 576px){
      display:flex;
      justify-content: center;
      align-items:center;
    }

  
    .logo {
      letter-spacing: -5px;
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 0.5rem;
      
    }
  
    .searchBar {
      width: 60vw;
      display: flex;
      border: 2px solid $search-bar-border;
      margin-top: 100px;
      border-radius: 500px;
      padding: 0.15rem 0.25rem 0.15rem 0.75rem;
      
  
      input[type="text"] {
        flex-grow: 1;
        font-size: 0.75rem;
        text-align: left;
        letter-spacing: 0.1rem;
        border: 0;
        outline: none;
        min-width: 150px;
       
      }
  
      .button {
        cursor: pointer;
        border: 0;
        background: transparent;
        min-width: 48px;
        min-height: 48px;
        outline: none;
  
        i {
            
         
          font-size: 1rem;
          
        }
      }
  
      .button:hover,
      .button:focus {
        i {
          padding-bottom: 0.5rem;
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
      }
  
      .searchButton:hover,
      .searchButton:focus {
        i {
          color: $logo-green;
        }
      }
  
      .clear:hover,
      .clear:focus {
        i {
          color: $logo-red;
        }
      }
  
      .searchButton {
        
      }
  
      .clear {
        justify-content: center;
        align-items: center;
        color: $stats-color;
        border-right: thin solid $clear-button-color;
        
      }
    }
  
    .searchBar:hover,
    .searchBar:focus-within {
      box-shadow: 0 2px 5px 2px $search-bar-border;
    }
  }